* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
h1 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  padding-bottom: 15px;
}

button {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 5px;
  background: #000;
}
button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s ease-in-out;
}
